@font-face {
font-family: "Montserrat";
src: url("../design/fonts/Montserrat-Regular.eot");
src: url("../design/fonts/Montserrat-Regular.woff") format("woff"),
url("../design/fonts/Montserrat-Regular.otf") format("opentype"),
url("../design/fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
}

@font-face {
font-family: "Montserrat ExtraBold";
src: url('../design/fonts/Montserrat-ExtraBold.eot');
src: url('../design/fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
url('../design/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
url('../design/fonts/Montserrat-ExtraBold.woff') format('woff'),
url('../design/fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
}

.navy-blue{
	color: #435C75;
}

.text-extra-bold{
	font-weight: 600;
}