/**! 18. Sliders Flickity **/
.slides:not(.flickity-enabled) li.imagebg:not(:first-child) {
  display: none;
}
.slides:not(.flickity-enabled) li.imagebg:first-child {
  background: #252525;
  animation: backgroundLoad .5s ease alternate infinite;
}
.slides:not(.flickity-enabled) li.imagebg:first-child .container {
  opacity: 0;
}
@keyframes backgroundLoad {
  0% {
    background: #252525;
  }
  100% {
    background: #3f3f3f;
  }
}
.slider.height-10 {
  height: auto;
}
.slider.height-10 .slides .flickity-slider > li {
  height: 10vh;
  padding: 0;
}
@media all and (min-width: 768px) {
  .slider.height-10 .slides li.imagebg {
    min-height: 10vh;
  }
}
.slider.height-20 {
  height: auto;
}
.slider.height-20 .slides .flickity-slider > li {
  height: 20vh;
  padding: 0;
}
@media all and (min-width: 768px) {
  .slider.height-20 .slides li.imagebg {
    min-height: 20vh;
  }
}
.slider.height-30 {
  height: auto;
}
.slider.height-30 .slides .flickity-slider > li {
  height: 30vh;
  padding: 0;
}
@media all and (min-width: 768px) {
  .slider.height-30 .slides li.imagebg {
    min-height: 30vh;
  }
}
.slider.height-40 {
  height: auto;
}
.slider.height-40 .slides .flickity-slider > li {
  height: 40vh;
  padding: 0;
}
@media all and (min-width: 768px) {
  .slider.height-40 .slides li.imagebg {
    min-height: 40vh;
  }
}
.slider.height-50 {
  height: auto;
}
.slider.height-50 .slides .flickity-slider > li {
  height: 50vh;
  padding: 0;
}
@media all and (min-width: 768px) {
  .slider.height-50 .slides li.imagebg {
    min-height: 50vh;
  }
}
.slider.height-60 {
  height: auto;
}
.slider.height-60 .slides .flickity-slider > li {
  height: 60vh;
  padding: 0;
}
@media all and (min-width: 768px) {
  .slider.height-60 .slides li.imagebg {
    min-height: 60vh;
  }
}
.slider.height-70 {
  height: auto;
}
.slider.height-70 .slides .flickity-slider > li {
  height: 70vh;
  padding: 0;
}
@media all and (min-width: 768px) {
  .slider.height-70 .slides li.imagebg {
    min-height: 70vh;
  }
}
.slider.height-80 {
  height: auto;
}
.slider.height-80 .slides .flickity-slider > li {
  height: 80vh;
  padding: 0;
}
@media all and (min-width: 768px) {
  .slider.height-80 .slides li.imagebg {
    min-height: 80vh;
  }
}
.slider.height-90 {
  height: auto;
}
.slider.height-90 .slides .flickity-slider > li {
  height: 90vh;
  padding: 0;
}
@media all and (min-width: 768px) {
  .slider.height-90 .slides li.imagebg {
    min-height: 90vh;
  }
}
.slider.height-100 {
  height: auto;
}
.slider.height-100 .slides .flickity-slider > li {
  height: 100vh;
  padding: 0;
}
@media all and (min-width: 768px) {
  .slider.height-100 .slides li.imagebg {
    min-height: 100vh;
  }
}
.slider .slides .flickity-slider > li:not([class*='col-']) {
  width: 100%;
}
.slider .slides.slides--gapless li[class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}
.slider[data-arrows="true"].slider--arrows-hover:not(:hover) .flickity-prev-next-button {
  opacity: 0;
}
.slider[data-paging="true"]:not(section) {
  margin-bottom: 3.71428571em;
}
.slider[data-paging="true"]:not(section) .flickity-page-dots {
  /*bottom: -3.71428571em;*/
}
.slider[data-paging="true"]:not([class*='text-']) .flickity-page-dots {
  text-align: center;
}
.slider[data-children="1"] .flickity-prev-next-button {
  display: none;
}
.slider:not([data-paging="true"]) .slides {
  margin: 0;
}
.slider.controls--dark .flickity-page-dots .dot {
  background: #252525;
}
.slider.controls--dark .flickity-prev-next-button:before {
  color: #252525;
}
section.slider {
  padding: 0;
}
section.slider.height-10 {
  height: auto;
}
section.slider.height-10 .slides .flickity-slider > li {
  height: 10vh;
  padding: 0;
}
@media all and (min-width: 768px) {
  section.slider.height-10 .slides li.imagebg {
    min-height: 10vh;
  }
}
section.slider.height-20 {
  height: auto;
}
section.slider.height-20 .slides .flickity-slider > li {
  height: 20vh;
  padding: 0;
}
@media all and (min-width: 768px) {
  section.slider.height-20 .slides li.imagebg {
    min-height: 20vh;
  }
}
section.slider.height-30 {
  height: auto;
}
section.slider.height-30 .slides .flickity-slider > li {
  height: 30vh;
  padding: 0;
}
@media all and (min-width: 768px) {
  section.slider.height-30 .slides li.imagebg {
    min-height: 30vh;
  }
}
section.slider.height-40 {
  height: auto;
}
section.slider.height-40 .slides .flickity-slider > li {
  height: 40vh;
  padding: 0;
}
@media all and (min-width: 768px) {
  section.slider.height-40 .slides li.imagebg {
    min-height: 40vh;
  }
}
section.slider.height-50 {
  height: auto;
}
section.slider.height-50 .slides .flickity-slider > li {
  height: 50vh;
  padding: 0;
}
@media all and (min-width: 768px) {
  section.slider.height-50 .slides li.imagebg {
    min-height: 50vh;
  }
}
section.slider.height-60 {
  height: auto;
}
section.slider.height-60 .slides .flickity-slider > li {
  height: 60vh;
  padding: 0;
}
@media all and (min-width: 768px) {
  section.slider.height-60 .slides li.imagebg {
    min-height: 60vh;
  }
}
section.slider.height-70 {
  height: auto;
}
section.slider.height-70 .slides .flickity-slider > li {
  height: 70vh;
  padding: 0;
}
@media all and (min-width: 768px) {
  section.slider.height-70 .slides li.imagebg {
    min-height: 70vh;
  }
}
section.slider.height-80 {
  height: auto;
}
section.slider.height-80 .slides .flickity-slider > li {
  height: 80vh;
  padding: 0;
}
@media all and (min-width: 768px) {
  section.slider.height-80 .slides li.imagebg {
    min-height: 80vh;
  }
}
section.slider.height-90 {
  height: auto;
}
section.slider.height-90 .slides .flickity-slider > li {
  height: 90vh;
  padding: 0;
}
@media all and (min-width: 768px) {
  section.slider.height-90 .slides li.imagebg {
    min-height: 90vh;
  }
}
section.slider.height-100 {
  height: auto;
}
section.slider.height-100 .slides .flickity-slider > li {
  height: 100vh;
  padding: 0;
}
@media all and (min-width: 768px) {
  section.slider.height-100 .slides li.imagebg {
    min-height: 100vh;
  }
}
section.slider[data-paging="true"] .flickity-page-dots {
  bottom: 1.85714286em;
}
section.slider:not(.image--light)[data-paging="true"] .flickity-page-dots .dot {
  background: #fff;
}
section.slider .slides {
  margin: 0;
}
@media all and (max-width: 767px) {
  section.slider[class*='height-'] .slides .flickity-slider > li {
    height: auto;
    padding: 7.42857143em 0;
  }
  section.slider.space--lg .slides .flickity-slider > li {
    padding: 11.14285714em 0;
  }
  section.slider.space--xlg .slides .flickity-slider > li {
    padding: 11.14285714em 0;
  }
}
section.bg--dark .slider[data-paging="true"] .flickity-page-dots .dot,
section.bg--primary .slider[data-paging="true"] .flickity-page-dots .dot {
  background: #fff;
}
.flickity-page-dots .dot {
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #252525;
  border: none;
  margin: 0 0.46428571em;
}
.flickity-page-dots .dot:hover:not(.is-selected) {
  opacity: .6;
}
.text-center .flickity-page-dots,
section.slider .flickity-page-dots {
  text-align: center;
}
.flickity-prev-next-button svg {
  display: none;
}
.flickity-prev-next-button:before {
  font-family: 'stack-interface';
  content: "\e80c";
  font-size: 1em;
  font-weight: normal;
}
.flickity-prev-next-button.previous:before {
  content: "\e80b";
}
.imagebg:not(.image--light) .flickity-page-dots .dot,
.bg--dark .flickity-page-dots .dot {
  background: #fff;
}

/**! 27. Image Blocks **/
.imageblock {
  position: relative;
  padding: 0;
}
.imageblock > .container,
.imageblock > div[class*='col-']:not(.imageblock__content) {
  padding-top: 7.42857143em;
  padding-bottom: 7.42857143em;
  float: none;
  overflow: hidden;
}
.imageblock.imageblock--lg > .container,
.imageblock.imageblock--lg > div[class*='col-']:not(.imageblock__content) {
  padding-top: 9.28571429em;
  padding-bottom: 9.28571429em;
  float: none;
  overflow: hidden;
}
.imageblock .imageblock__content {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 2;
  padding: 0;
}
.imageblock .imageblock__content .slider {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.imageblock .imageblock__content .slider .slides > li {
  padding: 0;
  min-height: 100%;
  position: absolute !important;
}
.imageblock.allow-overflow .imageblock__content {
  overflow: visible;
}
@media all and (max-height: 728px) {
  .imageblock > .container,
  .imageblock > div[class*='col-']:not(.imageblock__content) {
    padding-top: 3.71428571em;
    padding-bottom: 3.71428571em;
  }
}
@media all and (max-width: 767px) {
  .imageblock[class*='space-'] {
    padding-bottom: 0;
    padding-top: 0;
  }
  .imageblock .imageblock__content {
    position: relative;
    min-height: 18.57142857em;
  }
  .imageblock > .container,
  .imageblock > div[class*='col-']:not(.imageblock__content) {
    padding-top: 5.57142857em;
    padding-bottom: 5.57142857em;
    float: none;
    overflow: hidden;
  }
  .imageblock.imageblock--lg > .container,
  .imageblock.imageblock--lg > div[class*='col-']:not(.imageblock__content) {
    padding-top: 5.57142857em;
    padding-bottom: 5.57142857em;
    float: none;
    overflow: hidden;
  }
}

/*! -- Stack Twitter Feeds -- */
.tweets-feed .interact {
  display: none;
}
.tweets-feed .user a:hover {
  text-decoration: none;
}
.tweets-feed .user img {
  border-radius: 50%;
}
.tweets-feed-1 {
  border-radius: 6px;
  border: 1px solid #ececec;
  overflow: hidden;
}
.tweets-feed-1 li {
  overflow: hidden;
  padding: 1.85714286em;
  padding-bottom: 0;
}
.tweets-feed-1 li:not(:last-child) {
  border-bottom: 1px solid #ececec;
}
.tweets-feed-1 .user {
  width: 20%;
  float: left;
  margin-bottom: 0.92857143em;
}
.tweets-feed-1 .user img {
  max-height: 3.71428571em;
  margin-right: 0.46428571em;
}
.tweets-feed-1 .user [data-scribe="element:name"],
.tweets-feed-1 .user [data-scribe="element:screen_name"] {
  display: none;
}
.tweets-feed-1 .tweet,
.tweets-feed-1 .timePosted {
  width: 80%;
  float: right;
}
.tweets-feed-1 .tweet {
  margin-bottom: 0.46428571em;
}
.tweets-feed-1 .timePosted {
  font-size: 0.85714286em;
  line-height: 2.16666667em;
}
.tweets-feed-1:not(:last-child) + .btn {
  margin-top: 2.78571429em;
}
.imagebg .tweets-feed-1,
.bg--dark .tweets-feed-1 {
  border-color: rgba(255, 255, 255, 0.1);
}
.imagebg .tweets-feed-1 li:not(:last-child),
.bg--dark .tweets-feed-1 li:not(:last-child) {
  border-color: rgba(255, 255, 255, 0.1);
}
.tweets-feed-2 .user {
  display: none;
}
.tweets-feed-2 .timePosted {
  display: none;
}
.tweets-feed-2 li {
  overflow: hidden;
}
.tweets-feed-2 li:before {
  font-family: 'socicon';
  content: "\e08d";
}
.tweets-feed-2 li .tweet {
  width: 85%;
  float: right;
}
.tweets-feed.slider .user img {
  display: inline-block;
  clear: both;
  margin-bottom: 0.92857143em;
}
.tweets-feed.slider .user [data-scribe="element:name"] {
  display: none;
}
.tweets-feed.slider .user [data-scribe="element:screen_name"] {
  display: block;
  font-size: 1.35714286em;
  line-height: 1.36842105em;
  font-weight: normal;
}
.tweets-feed.slider .tweet {
  margin-top: 1.36842105263158em;
  margin-bottom: 0.68421052631579em;
  font-size: 1.35714286em;
  line-height: 1.36842105em;
}
.tweets-feed.slider .timePosted {
  margin: 0;
}
.tweets-feed.slider:not(:last-child) + .btn {
  margin-top: 2.78571429em;
}


/*! -- Stack Covers -- */
.cover .typed-headline {
  margin-bottom: 3.71428571em;
}
.cover .typed-headline .type--bold {
  font-weight: 400;
}
.cover .triptych {
  margin-top: 3.71428571em;
}
.cover .btn + .modal-instance {
  margin-top: 1.85714286em;
}
.cover h3 + form,
.cover .h3 + form {
  margin-top: 2.78571429em;
}
.cover .lead + .boxed {
  margin-top: 3.71428571em;
}
.cover.unpad--bottom {
  overflow: hidden;
}
.cover .modal-instance.block:not(:first-child):not(:last-child) {
  margin: 2.78571429em 0;
}
.cover .pos-bottom {
  margin-bottom: 1.85714286em;
}
@media all and (min-width: 768px) {
  .cover .row .row:last-child {
    margin-top: 5.57142857em;
  }
}
@media all and (max-width: 767px) {
  .cover .pos-bottom.pos-absolute {
    position: relative;
    margin-top: 1.85714286em;
  }
}
@media all and (max-width: 990px) {
  .cover .mt--3 {
    margin-top: 0;
  }
}
@media all and (min-width: 768px) {
  .cover .triptych {
    margin-top: 7.42857143em;
  }
}
.cover-fullscreen {
  min-height: 100vh;
}
.cover-fullscreen.slider[data-paging="true"] .slides .flickity-slider > li {
  height: 100vh;
}
.cover-fullscreen.slider[data-paging="true"] .pos-bottom {
  bottom: 5.57142857em;
  width: 100%;
}
.cover-fullscreen.slider[data-paging="true"] h4 {
  margin: 0;
}
.cover-slider {
  overflow: hidden;
}
.cover-slider .slider {
  position: relative;
  width: 100%;
  pointer-events: none;
}
.cover-slider .slider:nth-child(1) {
  transform: translateY(-30%);
}
.cover-slider .slider:nth-child(2) {
  transform: translateY(-25%);
}
.cover-slider .slider:nth-child(3) {
  transform: translateY(-20%);
}
.cover-slider .slider .slide {
  opacity: .05;
}
.cover-slider .typed-headline {
  margin: 0;
}
.cover-slider .typed-headline + .btn {
  margin-top: 0.92857143em;
}
.cover-slider .slider-container {
  transform: rotateZ(-30deg) translateY(-10%);
  -webkit-transform: rotateZ(-30deg) translateY(-10%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
@media all and (min-width: 768px) {
  .cover-slider + .cta-4 {
    position: absolute;
    background: none;
    color: #fff;
    border-bottom: none !important;
    width: 100%;
    transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
  }
  .cover-slider + .cta-4 a {
    color: #fff;
    font-weight: 600;
  }
}
.cover-features.space--lg {
  padding-bottom: 3.71428571em;
}
.cover-features .row:nth-child(2) {
  margin-top: 11.14285714em;
}
@media all and (max-width: 767px) {
  .cover-features.space--lg {
    padding-bottom: 1.85714286em;
  }
  .cover-features .row:nth-child(2) {
    margin-top: 3.71428571em;
  }
}


/*! -- Stack Sliders -- */
.flickity-prev-next-button {
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  border-radius: 0;
  background: #252525;
  width: 2.78571429em;
  height: 5.57142857em;
}
.flickity-prev-next-button:not(:hover) {
  opacity: .5;
}
.flickity-prev-next-button:hover {
  background: #252525;
}
.flickity-prev-next-button.previous {
  left: 0;
}
.flickity-prev-next-button.next {
  right: 0;
}
.flickity-prev-next-button:before {
  color: #fff;
}
.slider.slider--inline-arrows .flickity-prev-next-button {
  background: none;
}
.slider.slider--inline-arrows .flickity-prev-next-button:before {
  font-size: 1.78571429em;
  color: #252525;
  content: '\e802';
}
.slider.slider--inline-arrows .flickity-prev-next-button.previous:before {
  content: '\e801';
}
.slider.slider--columns .previous {
  left: 15px;
}
.slider.slider--columns .next {
  right: 15px;
}
.slider.border--round .slides li {
  border-radius: 6px;
  overflow: hidden;
}
.slider.boxed--border .slides li {
  border: 1px solid #ececec;
}
.slider .slides li .feature:not(.feature-9) {
  margin-bottom: 0;
}
.slide .boxed:last-child {
  margin-bottom: 0;
}
.slide:not([class*='col-']) > img:only-child {
  width: 100%;
}
.bg--dark .slider.slider--inline-arrows .flickity-prev-next-button:before,
.bg--primary .slider.slider--inline-arrows .flickity-prev-next-button:before,
.imagebg:not(.image--light) .slider.slider--inline-arrows .flickity-prev-next-button:before {
  color: #fff;
}
@media all and (max-width: 990px) {
  .flickity-prev-next-button {
    display: none;
  }
}
@media all and (min-width: 768px) {
  h2 + .slider,
  .h2 + .slider {
    margin-top: 3.71428571em;
  }
}
.slider.slider--ken-burns:not(.parallax) .slide.is-selected > .background-image-holder,
.slider.slider--ken-burns:not(.parallax) .slide.is-selected > img:only-child {
  animation: kenBurns 15s ease alternate infinite;
  -webkit-animation: kenBurns 15s ease alternate infinite;
}
.radial {
  margin-left: auto;
  margin-right: auto;
}
.radial .radial__label {
  transition: opacity .3s ease;
  -webkit-transition: opacity .3s ease;
}
.radial:not(.radial--active) .radial__label {
  opacity: 0;
}
.radial:not(:last-child) {
  margin-bottom: 1.85714286em;
}
@media all and (max-width: 767px) {
  .radial {
    margin-bottom: 1.85714286em;
  }
}

/**! 05. Images **/
img {
  max-width: 100%;
  margin-bottom: 1.85714286em;
}
/*p+img, img:last-child{
  margin-bottom: 0;
}*/
.img--fullwidth {
  width: 100%;
}
[data-grid="2"].masonry {
  -webkit-column-count: 2;
  -webkit-column-gap: 0;
  -moz-column-count: 2;
  -moz-column-gap: 0;
  column-count: 2;
  column-gap: 0;
}
[data-grid="2"].masonry li {
  width: 100%;
  float: none;
}
[data-grid="2"] li {
  width: 50%;
  display: inline-block;
}
[data-grid="3"].masonry {
  -webkit-column-count: 3;
  -webkit-column-gap: 0;
  -moz-column-count: 3;
  -moz-column-gap: 0;
  column-count: 3;
  column-gap: 0;
}
[data-grid="3"].masonry li {
  width: 100%;
  float: none;
}
[data-grid="3"] li {
  width: 33.33333333%;
  display: inline-block;
}
[data-grid="4"].masonry {
  -webkit-column-count: 4;
  -webkit-column-gap: 0;
  -moz-column-count: 4;
  -moz-column-gap: 0;
  column-count: 4;
  column-gap: 0;
}
[data-grid="4"].masonry li {
  width: 100%;
  float: none;
}
[data-grid="4"] li {
  width: 25%;
  display: inline-block;
}
[data-grid="5"].masonry {
  -webkit-column-count: 5;
  -webkit-column-gap: 0;
  -moz-column-count: 5;
  -moz-column-gap: 0;
  column-count: 5;
  column-gap: 0;
}
[data-grid="5"].masonry li {
  width: 100%;
  float: none;
}
[data-grid="5"] li {
  width: 20%;
  display: inline-block;
}
[data-grid="6"].masonry {
  -webkit-column-count: 6;
  -webkit-column-gap: 0;
  -moz-column-count: 6;
  -moz-column-gap: 0;
  column-count: 6;
  column-gap: 0;
}
[data-grid="6"].masonry li {
  width: 100%;
  float: none;
}
[data-grid="6"] li {
  width: 16.66666667%;
  display: inline-block;
}
[data-grid="7"].masonry {
  -webkit-column-count: 7;
  -webkit-column-gap: 0;
  -moz-column-count: 7;
  -moz-column-gap: 0;
  column-count: 7;
  column-gap: 0;
}
[data-grid="7"].masonry li {
  width: 100%;
  float: none;
}
[data-grid="7"] li {
  width: 14.28571429%;
  display: inline-block;
}
[data-grid="8"].masonry {
  -webkit-column-count: 8;
  -webkit-column-gap: 0;
  -moz-column-count: 8;
  -moz-column-gap: 0;
  column-count: 8;
  column-gap: 0;
}
[data-grid="8"].masonry li {
  width: 100%;
  float: none;
}
[data-grid="8"] li {
  width: 12.5%;
  display: inline-block;
}
@media all and (max-width: 767px) {
  [data-grid]:not(.masonry) li {
    width: 33.333333%;
  }
  [data-grid="2"]:not(.masonry) li {
    width: 50%;
  }
  [data-grid].masonry {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
.background-image-holder {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover !important;
  background-position: 50% 50% !important;
  z-index: 0;
  transition: opacity .3s linear;
  -webkit-transition: opacity .3s linear;
  opacity: 0;
  background: #252525;
}
.background-image-holder:not([class*='col-']) {
  width: 100%;
}
.background-image-holder.background--bottom {
  background-position: 50% 100% !important;
}
.background-image-holder.background--top {
  background-position: 50% 0% !important;
}
.image--light .background-image-holder {
  background: none;
}
.background-image-holder img {
  display: none;
}
[data-overlay] {
  position: relative;
}
[data-overlay]:before {
  position: absolute;
  content: '';
  background: #252525;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
[data-overlay] *:not(.container):not(.background-image-holder) {
  z-index: 2;
}
[data-overlay].image--light:before {
  background: #fff;
}
[data-overlay].bg--primary:before {
  background: #238b53;
}
[data-overlay="1"]:before {
  opacity: 0.1;
}
[data-overlay="2"]:before {
  opacity: 0.2;
}
[data-overlay="3"]:before {
  opacity: 0.3;
}
[data-overlay="4"]:before {
  opacity: 0.4;
}
[data-overlay="5"]:before {
  opacity: 0.5;
}
[data-overlay="6"]:before {
  opacity: 0.6;
}
[data-overlay="7"]:before {
  opacity: 0.7;
}
[data-overlay="8"]:before {
  opacity: 0.8;
}
[data-overlay="9"]:before {
  opacity: 0.9;
}
[data-overlay="10"]:before {
  opacity: 1;
}
[data-overlay="0"]:before {
  opacity: 0;
}
[data-scrim-bottom] {
  position: relative;
}
[data-scrim-bottom]:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 80%;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #252525 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, #252525));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #252525 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #252525 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #252525 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #252525 100%);
  bottom: 0;
  left: 0;
  z-index: 1;
  backface-visibility: hidden;
}
[data-scrim-bottom]:not(.image--light) h1,
[data-scrim-bottom]:not(.image--light) h2,
[data-scrim-bottom]:not(.image--light) h3,
[data-scrim-bottom]:not(.image--light) h4,
[data-scrim-bottom]:not(.image--light) h5,
[data-scrim-bottom]:not(.image--light) h6 {
  color: #a5a5a5;
  color: #f1f1f1;
}
[data-scrim-bottom]:not(.image--light) p,
[data-scrim-bottom]:not(.image--light) span,
[data-scrim-bottom]:not(.image--light) ul {
  color: #e6e6e6;
}
[data-scrim-bottom].image--light:before {
  background: #fff;
}
[data-scrim-bottom="1"]:before {
  opacity: 0.1;
}
[data-scrim-bottom="2"]:before {
  opacity: 0.2;
}
[data-scrim-bottom="3"]:before {
  opacity: 0.3;
}
[data-scrim-bottom="4"]:before {
  opacity: 0.4;
}
[data-scrim-bottom="5"]:before {
  opacity: 0.5;
}
[data-scrim-bottom="6"]:before {
  opacity: 0.6;
}
[data-scrim-bottom="7"]:before {
  opacity: 0.7;
}
[data-scrim-bottom="8"]:before {
  opacity: 0.8;
}
[data-scrim-bottom="9"]:before {
  opacity: 0.9;
}
[data-scrim-bottom="10"]:before {
  opacity: 1;
}
[data-scrim-top] {
  position: relative;
}
[data-scrim-top]:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 80%;
  background: -moz-linear-gradient(bottom, #252525 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, left bottom, color-stop(0%, #252525), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(bottom, #252525 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(bottom, #252525 0%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(bottom, #252525 0%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #252525 0%, rgba(0, 0, 0, 0) 100%);
  top: 0;
  left: 0;
  z-index: 1;
}
[data-scrim-top]:not(.image--light) h1,
[data-scrim-top]:not(.image--light) h2,
[data-scrim-top]:not(.image--light) h3,
[data-scrim-top]:not(.image--light) h4,
[data-scrim-top]:not(.image--light) h5,
[data-scrim-top]:not(.image--light) h6 {
  color: #fff;
}
[data-scrim-top]:not(.image--light) p,
[data-scrim-top]:not(.image--light) span,
[data-scrim-top]:not(.image--light) ul {
  color: #e6e6e6;
}
[data-scrim-top].image--light:before {
  background: #fff;
}
[data-scrim-top="1"]:before {
  opacity: 0.1;
}
[data-scrim-top="2"]:before {
  opacity: 0.2;
}
[data-scrim-top="3"]:before {
  opacity: 0.3;
}
[data-scrim-top="4"]:before {
  opacity: 0.4;
}
[data-scrim-top="5"]:before {
  opacity: 0.5;
}
[data-scrim-top="6"]:before {
  opacity: 0.6;
}
[data-scrim-top="7"]:before {
  opacity: 0.7;
}
[data-scrim-top="8"]:before {
  opacity: 0.8;
}
[data-scrim-top="9"]:before {
  opacity: 0.9;
}
[data-scrim-top="10"]:before {
  opacity: 1;
}
.imagebg {
  position: relative;
}
.imagebg .container {
  z-index: 2;
}
.imagebg .container:not(.pos-absolute) {
  position: relative;
}
.imagebg:not(.image--light) h1,
.imagebg:not(.image--light) h2,
.imagebg:not(.image--light) h3,
.imagebg:not(.image--light) h4,
.imagebg:not(.image--light) h5,
.imagebg:not(.image--light) h6,
.imagebg:not(.image--light) p,
.imagebg:not(.image--light) ul,
.imagebg:not(.image--light) blockquote {
  color: #fff;
}
.imagebg:not(.image--light) .bg--white h1,
.imagebg:not(.image--light) .bg--white h2,
.imagebg:not(.image--light) .bg--white h3,
.imagebg:not(.image--light) .bg--white h4,
.imagebg:not(.image--light) .bg--white h5,
.imagebg:not(.image--light) .bg--white h6 {
  color: #252525;
}
.imagebg:not(.image--light) .bg--white p,
.imagebg:not(.image--light) .bg--white ul {
  color: #666666;
}
div[data-overlay] h1,
div[data-overlay] h2,
div[data-overlay] h3,
div[data-overlay] h4,
div[data-overlay] h5,
div[data-overlay] h6 {
  color: #fff;
}
div[data-overlay] p,
div[data-overlay] ul {
  color: #fff;
}
.parallax {
  overflow: hidden;
}
.parallax .background-image-holder {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
}
.image--xxs {
  max-height: 1.85714286em;
}
.image--xs {
  max-height: 3.71428571em;
}
.image--sm {
  max-height: 5.57142857em;
}
.image--md {
  max-height: 7.42857143em;
}
/**! 06. Buttons **/
.btn {
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  border-radius: 6px;
  padding-top: 0.46428571em;
  padding-bottom: 0.46428571em;
  padding-right: 2.78571429em;
  padding-left: 2.78571429em;
  border: 1px solid #252525;
  border-width: 1px;
  font-size: inherit;
  line-height: 1.85714286em;
}
.btn .btn__text,
.btn i {
  color: #252525;
  border-color: #252525;
  font-weight: 700;
  font-size: 0.85714286em;
}
.btn[class*='col-'] {
  margin-left: 0;
  margin-right: 0;
}
.btn:active {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.btn.bg--facebook,
.btn.bg--twitter,
.btn.bg--instagram,
.btn.bg--googleplus,
.btn.bg--pinterest,
.btn.bg--dribbble,
.btn.bg--behance,
.btn.bg--dark {
  border-color: rgba(0, 0, 0, 0) !important;
}
.btn.bg--facebook .btn__text,
.btn.bg--twitter .btn__text,
.btn.bg--instagram .btn__text,
.btn.bg--googleplus .btn__text,
.btn.bg--pinterest .btn__text,
.btn.bg--dribbble .btn__text,
.btn.bg--behance .btn__text,
.btn.bg--dark .btn__text {
  color: #fff;
}
.btn.bg--facebook .btn__text i,
.btn.bg--twitter .btn__text i,
.btn.bg--instagram .btn__text i,
.btn.bg--googleplus .btn__text i,
.btn.bg--pinterest .btn__text i,
.btn.bg--dribbble .btn__text i,
.btn.bg--behance .btn__text i,
.btn.bg--dark .btn__text i {
  color: #fff;
}
.btn.bg--facebook:hover,
.btn.bg--twitter:hover,
.btn.bg--instagram:hover,
.btn.bg--googleplus:hover,
.btn.bg--pinterest:hover,
.btn.bg--dribbble:hover,
.btn.bg--behance:hover,
.btn.bg--dark:hover {
  opacity: .9;
}
.btn.bg--error {
  background: #e23636;
  border-color: #e23636 !important;
}
.btn.bg--error:hover {
  background: #e54c4c;
  border-color: #e54c4c !important;
  color: #fff !important;
}
.btn.bg--error .btn__text {
  color: #fff;
}
.btn.bg--error .btn__text i {
  color: #fff;
}
@media all and (min-width: 768px) {
  .btn + .btn {
    margin-left: 1.85714286em;
  }
}
.btn:first-child {
  margin-left: 0;
}
.btn:last-child {
  margin-right: 0;
}
.btn--xs {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 1.39285714em;
  padding-left: 1.39285714em;
}
.btn--sm {
  padding-top: 0.30952381em;
  padding-bottom: 0.30952381em;
  padding-right: 1.85714286em;
  padding-left: 1.85714286em;
}
.btn--lg {
  padding-top: 0.58035714em;
  padding-bottom: 0.58035714em;
  padding-right: 3.48214286em;
  padding-left: 3.48214286em;
}
.btn--lg .btn__text {
  font-size: 1.07142857em;
}
.btn--primary,
.btn--primary:visited {
  background: #238b53;
  border-color: #238b53;
}
.btn--primary .btn__text,
.btn--primary:visited .btn__text {
  color: #fff;
}
.btn--primary .btn__text i,
.btn--primary:visited .btn__text i {
  color: #fff;
}
.btn--primary:hover {
  background: #289f5f;
}
.btn--primary:active {
  background: #1e7747;
}
.btn--primary-1,
.btn--primary-1:visited {
  background: #282729;
  border-color: #282729;
}
.btn--primary-1 .btn__text,
.btn--primary-1:visited .btn__text {
  color: #fff;
}
.btn--primary-1:hover {
  background: #353336;
}
.btn--primary-1:active {
  background: #1b1b1c;
}
.btn--primary-2,
.btn--primary-2:visited {
  background: #669e4b;
  border-color: #669e4b;
}
.btn--primary-2 .btn__text,
.btn--primary-2:visited .btn__text {
  color: #fff;
}
.btn--primary-2:hover {
  background: #72ae54;
}
.btn--primary-2:active {
  background: #5b8d43;
}
.btn--secondary {
  background: #fafafa;
  border-color: #fafafa;
}
.btn--secondary:hover {
  background: #ffffff;
}
.btn--secondary:active {
  background: #f5f5f5;
}
.btn--white {
  background: #fff;
  color: #252525;
  border-color: #fff;
}
.btn--white i {
  color: #252525;
}
.btn--transparent {
  background: none;
  border-color: rgba(0, 0, 0, 0);
  padding-left: 0;
  padding-right: 0;
}
.btn--transparent.btn--white .btn__text {
  color: #fff;
}
.btn--unfilled {
  background: none;
}
.btn--unfilled.btn--white .btn__text {
  color: #fff;
}
.btn--unfilled.btn--white i {
  color: #fff;
}
.btn--floating {
  position: fixed;
  bottom: 3.71428571em;
  right: 3.71428571em;
  z-index: 10;
}
/**! 07. Icons **/
.icon {
  line-height: 1em;
  font-size: 3.14285714em;
}
.icon--xs {
  font-size: 1em;
}
.icon--sm {
  font-size: 2.35714286em;
}
.icon--lg {
  font-size: 5.57142857em;
}