/* 1. Theme default css */
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Montserrat:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
/* line 5, */
body {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* line 12, */
.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 16, */
a,
.button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 20, */
a:focus,
.button:focus, button:focus {
  text-decoration: none;
  outline: none;
}

/* line 25, */
a:focus {
  text-decoration: none;
}

/* line 28, */
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
}

/* line 34, */
a,
button {
  color: #1F1F1F;
  outline: medium none;
}

/* line 39, */
h1, h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
  color: #1F1F1F;
}

/* line 43, */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

/* line 52, */
ul {
  margin: 0px;
  padding: 0px;
}

/* line 56, */
li {
  list-style: none;
}

/* line 59, */
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #727272;
  margin-bottom: 13px;
  font-family: "Montserrat", sans-serif;
}

/* line 68, */
label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

/* line 74, */
*::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

/* line 79, */
::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

/* line 84, */
::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

/* line 89, */
*::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 94, */
*:-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 99, */
*::-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 104, */
*::placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 110, */
h3 {
  font-size: 24px;
}

/* line 114, */
.mb-70 {
  margin-bottom: 73px;
}

/* line 118, */
.black-bg {
  background: #020c26 !important;
}

/* line 122, */
.white-bg {
  background: #ffffff;
}

/* line 125, */
.gray-bg {
  background: #f5f5f5;
}

/* line 130, */
.bg-img-1 {
  background-image: url(../img/slider/slider-img-1.jpg);
}

/* line 133, */
.bg-img-2 {
  background-image: url(../img/background-img/bg-img-2.jpg);
}

/* line 136, */
.cta-bg-1 {
  background-image: url(../img/background-img/bg-img-3.jpg);
}

/* line 141, */
.overlay {
  position: relative;
  z-index: 0;
}

/* line 145, */
.overlay::before {
  position: absolute;
  content: "";
  background-color: #1F1F1F;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .8;
}

/* line 157, */
.overlay2 {
  position: relative;
  z-index: 0;
}

/* line 161, */
.overlay2::before {
  position: absolute;
  content: "";
  background-color: #2C2C2C;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
}

/* line 173, */
.overlay_03 {
  position: relative;
  z-index: 0;
}

/* line 177, */
.overlay_03::before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #2C2C2C;
  opacity: .6;
  content: '';
  z-index: -1;
}

/* line 190, */
.bradcam_overlay {
  position: relative;
  z-index: 0;
}

/* line 194, */
.bradcam_overlay::before {
  position: absolute;
  content: "";
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5db2ff+0,7db9e8+100&1+24,0+96 */
  background: -moz-linear-gradient(left, #5db2ff 0%, #65b4f9 24%, rgba(124, 185, 233, 0) 96%, rgba(125, 185, 232, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #5db2ff 0%, #65b4f9 24%, rgba(124, 185, 233, 0) 96%, rgba(125, 185, 232, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #5db2ff 0%, #65b4f9 24%, rgba(124, 185, 233, 0) 96%, rgba(125, 185, 232, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5db2ff', endColorstr='#007db9e8',GradientType=1 );
  /* IE6-9 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
}

/* line 210, */
.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* line 214, */
.pt-120 {
  padding-top: 120px;
}

/* button style */
/* line 220, */
.owl-carousel .owl-nav div {
  background: transparent;
  height: 40px;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 40px;
  color: #FFFFFF;
  background-color: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  left: 50px;
  font-size: 15px;
  line-height: 40px;
  border: 1px solid #8E8B8B;
  left: 150px;
}

/* line 247, */
.owl-carousel .owl-nav div.owl-next {
  left: auto;
  right: 150px;
}

/* line 252, */
.owl-carousel .owl-nav div.owl-next i {
  position: relative;
  right: 0;
}

/* line 259, */
.owl-carousel .owl-nav div.owl-prev i {
  position: relative;
  top: 0px;
}

/* line 269, */
.owl-carousel:hover .owl-nav div {
  opacity: 1;
  visibility: visible;
}

/* line 272, */
.owl-carousel:hover .owl-nav div:hover {
  color: #fff;
  background: #615CFD;
  border: 1px solid transparent;
}

/* line 282, */
.mb-20px {
  margin-bottom: 20px;
}

/* line 286, */
.mb-55 {
  margin-bottom: 55px;
}

/* line 289, */
.mb-40 {
  margin-bottom: 40px;
}

/* line 292, */
.mb-20 {
  margin-bottom: 20px;
}

/*# sourceMappingURL=theme-default.css.map */